@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    padding:0;
    margin: 0;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    font-family: "Poppins";
    background: white;
    overflow-x: hidden;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
    html,
    body{
        width:100%;
        overflow-x:hidden;
    }
}
.feature{
    position: relative;
    height: 400px;
    margin: 0;
    padding: 10%;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 5px 15px black;
    overflow: hidden;
}
.feature .group1{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature .group1 .group2{
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feature .group1 .group3{
    position: relative;
    width: 50%;
    height: 102%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature .group1 .box1{
    position: relative;
    border: 3px solid black;
    height: 26%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-position-y: -1rem;
    background-color: white;
    transition: all 1s;
}
.feature .group1 .box1::before{
    display: flex;
    align-items: center;
    content: 'Hi, my name is Nguyen Duy Thinh and as the picture shown, I love the street lifestyle, this doesnot means I live on street :>';
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    opacity: 0;
    transition: all 1s;
}
.feature .group1 .box1:hover{
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: 0 5px 15px black;
}
.feature .group1 .box1:hover::before{
    opacity: 1;
}
.feature .group1 .box2{
    position: relative;
    border: 3px solid black;
    height: 100%;
    width: 45%;
    background-repeat: none;
    background-size: auto 100%;
    background-position: center;
    transition: all 1s;
}
.feature .group1 .box2::before{
    display: flex;
    align-items: center;
    content: 'I love photography, but I was not "handsome" enough to be a model haha, but I still love editing artistically. And I had some passionating projects :>';
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    opacity: 0;
    transition: all 1s;
}
.feature .group1 .box2:hover::before{
    opacity: 1;
}
.feature .group1 .box2:hover{
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: 0 5px 15px black;
}
.feature .group1 .box3{
    position: relative;
    width: 100%;
    height: 30%;
    border: 3px solid black;
    background-image: url("2.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-position-y: -2rem;
    transition: all 1s;
}
.feature .group1 .box3::before{
    display: flex;
    align-items: center;
    content: 'Friends with me like a family :>';
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    opacity: 0;
    transition: all 1s;
}
.feature .group1 .box3:hover::before{
    opacity: 1;
}
.feature .group1 .box3:hover{
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: 0 5px 15px black;
}
.feature .group1 .box4{
    position: relative;
    width: 100%;
    height: 62.5%;
    border: 3px solid black;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}
.feature .group1 .box4::before{
    display: flex;
    align-items: center;
    content: 'This is not about the Voice, it is about acting weird. Yes, it is me, I always act not like a human but never feel shame';
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    opacity: 0;
    transition: all 1s;
}
.feature .group1 .box4:hover::before{
    opacity: 1;
}
.feature .group1 .box4:hover{
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: 0 5px 15px black;
}
.content{
    position: relative;
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
}
#icon{
    position: absolute;
    left: 1rem;
    width: 4rem;
    background-position: center;
    background-size: cover;
}
.element{
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 5rem;
    height: 4rem;
    box-shadow: 0 5px 15px black;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background-position: top;
    cursor: pointer;
}
.text{
    position: relative;
    left: 0;
    width: 100%;
    text-align: center ;
    font-weight: 700;
    transition: all 2s;
    color: white;
    text-decoration: solid 1px black;
}
.footer{
    height: 3rem;
    background: url("5.jpg");
    background-position: 0rem 10.5rem;
    border-radius: 20px 20px 0 0;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: solid 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px black;
}